# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
### Above combination will ignore all files without extension ###
._.DS_Store
.DS_Store
**/.DS_Store
**/._.DS_Store
*.xcodeproj
**/*.xcodeproj
**/*.icloud
**/.vscode
